<br>
<h2>Thank you for contacting us. <br>We will be in touch with you shortly.</h2>
<br>
<div id="action-area">
	<p class="gray">While waiting for a reply, you may fin our <%= link_to "Opportunities", opportunities_path %> interesting.</p></div>
</div><!-- action area -->
<br><br>

<!-- do we want to put more info about that lead here? Later? -->