<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>About<% end %>

<h1>About Conscious Office</h1>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Why We Started This Company</h2>
		<p>Todo insert Mission and Vision here.</p>
	</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Where we work</h2>
		<p>Todo insert compelling truths here.</p>
	</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Where the company is going</h2>
		<p>Todo insert compelling truths here.</p>
	</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>How can we partner up?</h2>
		<p>Todo insert compelling truths here.</p>
	</div><!-- end .col -->
</div><!-- end .row -->



