<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Competitors<% end %>

<h2 class="animated fadeInDown delay03s">Competitors to Conscious Office Inc.</h2>

<div class="animated fadeInUp delay03s">

	<p>We know you care about getting the best value for your office, <br>so we've put together a comparison of who we view to be our top competitors.</p>
	<p>We hope you find it useful.</p>
	<section id="competitor-data-section">
		<table>
			<!-- header -->
			<thead>
				<tr class="green">
					<th>Conscious Office</th>
					<th>Staples</th>
					<th>Amazon</th>
					<th>WB Mason</th>
					<th>The Green Office</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>TODO Sample data</td>
					<td>TODO Sample data</td>
					<td>TODO Sample data</td>
					<td>TODO Sample data</td>
					<td>TODO Sample data</td>										
				</tr>
				<tr></tr>			
				<tr></tr>
				<tr></tr>
				<tr></tr>			
				<tr></tr>
				<tr></tr>
				<tr></tr>			
				<tr></tr>
				<tr></tr>
				<tr></tr>			
				<tr></tr>
				<tr></tr>									
			</tbody>
		</table>
		<br>
		<small>Updated as of Decmber 2017</small>
	</section>
	<p>Questions? Comments? Curoious how we stack up versus another competitor?<br> We'd love to hear from you.<br> Please email us at <a href="mailto:sales@ConsciousOffice.io">sales@ConsciousOffice.io</a></p>
	<p>Thanks for your feedback!</p>
	<br>
</div><!-- end fade -->