<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Crowdsourcing Sustainability Ratings<% end %>

<h1>We Need Your Input</h1>

<div class="text-left">
	<p class="gray">We are working on creating technology that will rate every product for its sustainabilty, across its entire lifecycle. It will take a lot of time, data, and money to build.</p>
	<br>
	<p class="gray">And we don't need to reinvent the wheel - we know that many people and companies have tried this before. We want to actually do it. It's time.</p>
	<br>
	<p class="gray">We'll start small and basic, with manual decision making per product, based on the ranking of keywords.</p>
	<br>
	<p class="gray">Of course, this is only the beginning. True sustainability measures a product across the entire lifecyle of everyting that has happened to it, to its ingredients, its packaging, its shipping, its seller, its buyers and end users.</p>
	<br>
	<p class="black"><strong>If you know of anybody, any compnay, any website, any news article, or resource at all that is also working measuring environmental sustainability, please let us know.  We are looking for collaborators - measuring sustainability cannot be done alone, or by just one company.</strong></p>
</div>


<h3>Let Us Know What You Know</h3>

<div>
	<%= render 'layouts/resource_submission_agile_form' %>
</div>

<p><small>Thank you in advance!</small></p>