<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Crowdsourcing Sustainability Ratings<% end %>

<h1>We Need Your Input</h1>

<p>We are working on creating technology that will rate every product for its sustainabilty across its lifecycle. We don't want to reinvent the wheel, and we know that many people have tried this before. We want to actually do it.</p>
<p>We are starting small and basic, with manual decision making of all of our products based on the ranking of keywords.</p>
<p>But this is only the beginning. True sustainability measures a product across the entire lifecyle of everyting that has happened to it, to its ingredients, its packaging, its shipping, its seller, its buyers and end users.</p>
<br>
<p>If you know of anybody, any compnay, any website, any news article, or resource at all that is also working measuring environmental sustainability, please let us know.  We are looking for collaborators - measuring sustainability cannot be done alone, or by just one company.</p>

<h3>Let Us Know What You Know</h3>

<div>
	<%= render 'resource_submission_agile_form' %>
</div>
