<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Crowdsourcing Sustainability Ratings<% end %>
<div class="container">
	<div class="animated fadeInDown delay07s">
		<h1>We Need Your Input</h1>
		<div class="text-center">
			<%= image_tag("flaticon-knowledge-freepik.png", class: "a-bit-vertically-lower") %>
			<!-- icon found on flaticon.com and designed by Freepik -->
		</div>
		<p class="text-right"><small class="gray">[Fall 2018]</small></p>
	</div>
	<div class="animated fadeInUp delay07s">
		<div class="text-left">
			<p>As part of our mission to accurately provide you with sustainable product alternatives, we are designing a customized rating system.</p>
			<p>When complete, this system will be able to rate the overall sustainability of a product, and give reasons for that ranking.</p>
			<p>Initially, we will rank based on the physical makeup of an item, and as our company and this tech scales, we will add in metrics to rank items like how the manufacturor sources its own vendors and treats its employees.</p>
			<h2>Our vision is to become the data-driven authority on what sustainability means, and to test the usability of that data with our customers before delivering it to the world.</h2>
		</div>
		<div class="text-center">
			<%= image_tag("flaticon-planet-earth-darius-dan.png") %>
			<!-- image found on flaticon.com and designed by Darius Dan -->
		</div>
		<h1>To do this:</h1>
		<div class="text-left">
			<p class="strong"><big>We need your help!</big></p>
			<p>We need to know what's already been done. What ideas have already been collected, attempted, or thrown away? What resources already exist that we might not know about?</p>
			<p class="black"><strong>If you know of anybody, any company, any website, any news or blog article, or resource of any sort that has also done work to measure environmental sustainability, <big>please let us know.</big></strong></p>
		</div>
		<h2>Let Us Know What You Know</h2>
		<div>
			<%= render 'layouts/resource_submission_agile_form' %>
		</div>
	</div>
</div><!-- end container -->