<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | FAQ<% end %>

<div class="container">
	<h1 class="orange">Frequently Asked Questions</h1>

	<div class="button-div text-right">
		<!-- todo change this to a meaningful button -->
		<%= link_to "Action Button", root_path, class: "btn btn-success" %>
	</div>
	<section id="faq-section">
		<ol>
			<li>
				<div class="question">
					How do I set up an account?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
				</div>
				<div class="answer">
					<p>Contact us directly, either by sending us an email at <a href="mailto:sales@ConsciousOffice.io">sales@ConsciousOffice.io</a> or on this website by <%= link_to "applying for an account", new_customer_path %>.</p>
				</div>
			</li><!-- end one question -->
			<li>
				
			</li><!-- end another question -->
		</ol>
	</section>
	<div class="button-div text-right">
		<!-- todo change this to a meaningful button -->
		<%= link_to "Action Button", root_path, class: "btn btn-success" %>
	</div>
	<!-- todo  feedback area - let them add their new questions -->
</div><!-- end .container