<section id="mission-driven-section">
	
	<h2 class="text-left">As a mission driven office supply company...</h2>
	<p>We are driven by sustainabiliy on the planet and with each other.</p>
	<div class="indented">
		<h3>Our Mission Statement | Why we're here:</h3>
		<p>To provide consistent leadership and ever-increasing access to sustainable products and sustainable thinking.</p>

		<h3>Our Vision Statement | What we're working towards:</h3>
		<p>We will be the go to for the physical and intellectual resources for the mission driven office.</p>

		<h3>Our first big task:</h3>
		<p>Automate the process of providing recommendations for more sustainable alternatives to clients.</p>
		<p>This involves a significant investment in technology, and it will only work if it's user-focused.</p>
		<!-- todo link to fundraising -->
		<%= link_to "Help Us Reach Our Fundraising Goal", root_path, class: "btn btn-success" %>

		<h3>Our Give Back Policy</h3>
		<p>Though we expect to have significant impact on the office industry via our tech innovations, we believe it is also important to contribute to the cause as we grow.</p>
		<p>Caron emissions ... (todo)</p>
		<p><strong>With every purchase you make, we will give a portion of our profits back to the environment in the form of carbon credits.</strong></p>
		<p>Through a partnership with Terrapass, we can help offset our own environmental footprint that we incur just by doing daily business.</p>

		<%= link_to "Become a Client", new_customer_path, class: "btn btn-success" %> to help us earn more, to help us give back more.

		<!-- todo -->
	</div><!-- indented -->

</section><!-- end #mission-driven-section -->
<br>
<br>
<br>