<!-- this page is for after they have signed up with agile crm via our form -->
<br>
<h2>Thank you for contacting us. <br>We will be in touch with you shortly.</h2>
<br>
<div id="action-area">
	<p class="gray">While waiting for a reply, you may find our <%= link_to "Opportunities", opportunities_path %> interesting.</p></div>
</div><!-- action area -->
<br><br><br>