<div class="container">
	<h2 class="animated fadeInDown delay07s">Sign up to be an Early Client</h2>
	<div class="text-center animated fadeInDown delay07s">
		<%= image_tag("flaticon-online-shop-freepik.png") %>
		<!-- icon found on flaticon.com and designed by Freepik -->
	</div>
	<section id="agile-new-lead-form-section" class="animated fadeInUp delay07s">
		<%= render 'layouts/agile_new_lead_form' %>
	</section>
</div><!-- end .container -->