			<h1>Careers&nbsp;and&nbsp;Opportunities with&nbsp;Conscious&nbsp;Office</h1><br>
			<p>We&nbsp;have&nbsp;just&nbsp;lauched&nbsp;and are&nbsp;looking&nbsp;for&nbsp;a&nbsp;lot&nbsp;of&nbsp;help.</p><br><br>
			<div class="row">
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Careers</h2>
					<p class="text-left">We are currently seeking early emloyees for the following roles:
					<ul class="text-left">
						<li>Business Manager</li>
						<li>Communications &amp; Social Media Director</li>
						<li>Customer Service Rep (NYC or remote)</li>
						<li>Sales Reps in New York, San Francisco, Los Angeles, and Seattle.</li>
					</ul></p>
					<p>To apply, please send your resume and a short cover letter to our founder at <a href="mailto:alison@consciousoffice.io">alison@consciousoffice.io</a></p>
				</div><!-- end .col -->
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Partnerships</h2>
					<p class="text-left"> 
					We are interested in developing relatioships with other sustainable and mission driven companies. None of us can do this alone.</p>
					<p>To collaborate, please email our founder at <a href="mailto:alison@consciousoffice.io">alison@consciousoffice.io</a>
					</p>
				</div><!-- end .col -->
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Investors</h2>
					<p class="text-left">We've just soft launched and are starting to take on early clients.</p>
					<p class="text-left">...And we are opening up our calendar to impact investors that are interested in the sustainable product space.</p>
					<p class="text-left">To get involved, email our founder at <a href="mailto:sales@consciousoffice.io">alison@consciousoffice.io</a></p>
				</div><!-- end .col -->
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Customers</h2>
					<p class="text-left">We are pre-selling to a select list of clients and personal contacts.<br>
					<p class="text-left"> Our offering includes:
						<ul class="text-left">
							<li>Price matching to what you're currently buying</li>
							<li>Sustainable product recommendations</li>
							<li>Membership to our internal community of socially good businesses</li>
						</ul>
					</p>
					<p class="text-left">To join that list, email <a href="mailto:sales@consciousoffice.io">sales@consciousoffice.io</a></p>
				</div><!-- end .col -->
			</div><!-- end .row -->	