
<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Thank You, Recource Recieved<% end %>

<h1>Thank You For Your Submission!</h1>

<p>Your resource will be added to our list, and will contribute to the creation of our product ranking system.</p>
<br>
<!-- todo insert cute thank you graphic with a tree or an earth being thankful/happy/grateful -->