<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>Office Supplies<% end %>
			
<div id="welcome-area" class="row">
	<div class="col-sm-12 col-xs-12 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
		<div id="logo-area" class="text-center img-responsive">
			<img src="images/co-logo-v5.png" alt="Conscious Office">
		</div>
	</div>
	<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 left-lower-on-large">
		<h1>Conscious Office</h1><br>
		<!-- <h1>Conscious Supplies</h1> -->
		<h2 id="tagline" class="white">Office Supplies for Sustainability</h2>
	</div>
</div><!-- end #welcome-area -->
<div class="hidden-sm hidden-xs">
	<br><br>
</div>
<p class="gray">We are setting up our e-commerce platform now,<br>
	to be ready for launch in mid October 2017.</p>
<div id="fundraising" class="text-left green row">
	<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
		<p class="green">We are raising seed funds for the following:</p>
		<ul>
			<li>Hire the startup employees needed to scale</li>
			<li>Fund operating expenses</li>
			<li>Design and develop sustainability product labeling</li>
			<li>Implement product labeling on custom progressive web app with a great UI</li>
		</ul>
		<p><span class="green">Fundraising deadline:</span> <br>We are looking to have committed funds by November 2017</p>
		<p><span class="green">To discuss funding:</span> <br>Please email our founder at <a href="mailto:alison@consciousoffice.io">alison@consciousoffice.io</a></p>
	</div>
</div><!-- fundraising -->
<br><br>
<div id="action-area">
	<p class="gray">To sign up as an early customer, please email<br>
	<b><a href="mailto:sales@consciousoffice.io" class="gray">sales@consciousoffice.io</a></b></p>
	<p class="gray">To collaborate, visit our <a href="opportunities.html" class="gray">Opportunities Page</a>.</p></div>
</div><!-- action area -->
<br><br><br>
		