<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %> | Office Supplies<% end %>
<div class="jumbotron">		
	<div id="welcome-area" class="row">
		<h1 id="tagline">Office Supplies for Sustainability</h1>
	</div><!-- end #welcome-area -->

	<div class="text-left row">
		<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
			<div class="box text-center">
				<p>We are taking orders from early clients<br> while we get our ecommerce platform up and running.</p>
				<p>Launch date: Fall 2017</p>
			</div>
			<p class="text-center action-area">
				<button class="btn btn-success btn-lg">
					<a href="mailto:sales@consciousoffice.io" class="wow delay-07s fadeInLeft">Become an Early Client</a>
				</button>
			</p>
		</div>
	</div>
</div><!-- end .jumbotron -->
<br><br>
<div class="well">
	<h3>Price Matching</h3>
	<p>Test Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div><!-- end .well -->
<div class="well">
	<h3>Sustanable Alternatives</h3>
	<p>Test Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div><!-- end .well -->
<div class="well">
	<h3>Community Membership</h3>
	<p>Test Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div><!-- end .well -->

<div id="action-area">
	<p class="gray">Or to collaborate, visit our <%= link_to "Opportunities Page", opportunities_path %>.</p></div>
</div><!-- action area -->
<br><br><br>
		