footer	{
	font-size: 12px;
	background: #404040;
	color: #eee;
	text-align: center;
	a {
		color: #eee;
	}
	ul {
		font-size: 12px;
		list-style: none;
		li {
			a {
				font-size: 12px;
			}/*a*/
		}/*li*/
	}/*ul*/
}/*footer*/