/*insert specific styling for just this project in this file*/

/*
Designed by Responsive Redesign
code@responsiveredesign.io
*/

$light-green: rgba(111,168,111,1.0);
$green: rgba(50,131,50,1.0);
$dark-green: rgba(0,60,0,1.0);

a {
	color: $green;
	font-weight: bold;
	text-decoration: none;
}
ul a {
	color: black;
}
p a {
	color: $green;
}
a:hover {
	/*green*/
	color: $green;
	/*font-weight: bold;*/
	text-decoration: none;
}
.action-area {
	/*min-height: 100px;*/
	margin: 20px auto;
}
.align-right {
	text-align: right !important;
}
body {
	background: #fff;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.btn-success {
	/*background-color: transparent;*/
	border-radius: 0;
	color: white;
	background-color: $light-green;
	border: 1px solid $green;
	font-weight: 200;
	a {
		color: white;
		font-weight: 200;
	}
}
/*so that button text looks inline with the other nav elements*/
@media only screen and (min-width: 768px) {
	nav .btn {
		position: relative;
		top: 10px;
	}
}
@media only screen and (max-width: 767px) {
	nav .btn {
		position: relative;
		top: -5px;
	}
}
.btn-success:hover {
	background-color: darken($light-green, 15%);
	border-radius: 0;
	/*border: 1px solid $green;*/
	border: 1px solid darken($green, 20%);
	transition: 0.3s ease;
	font-weight: 200;
	a {
		color: #eee !important;
	}

}
.btn-success:clicked {
	text-decoration: none;
}
.btn-success:visited {
	text-decoration: none;
}

@media only screen and (max-width: 991px) {
	.collab-row-height {
		padding: 40px;
	}
} /*end media query*/


@media only screen and (min-width: 992px) {
	.collab-row-height {
		height: 350px;
	}
} /*end media query*/
#faq-section {
	text-align: left;
}
footer {
	padding: 50px;
	color: gray;
}
footer a, footer p {
	color: gray;
}
.gray {
	color: gray !important;
}
.green {
	color: $green !important;
}

h1, h2, h3 {
	color: $green;
	font-weight: 300;
}
.indented {
	margin-left: 5%;
}
@media only screen and (min-width: 768px) {
	img.icon-columns {
	margin-top: 30px;
	}
	/*for icons to be vertically centered on larger screens*/
}
li {
	margin-left: 25px;
}
.margin-top-half {
	/*margin-top: 10%;*/
}
ol {
	color: black;
}
p, ul, ol {
	font-weight: 100;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: black;
	padding: 5px;
}
#logo-area img {
	width: 90%;
	max-width: 150px;
}
.logo-brand-text {
	position: relative;
	top: -15px;
	z-index: 15;
}
.make-centered {
	margin: 0 auto;
}
main {
	padding-top: 30px;
}
main#index .container {
	padding-top: 20vh;
}
main#opportunities .container {
	padding-top: 10vh;
}
main p {
	font-weight: 100;
	/*font-family: Arial;*/
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
@media only screen and (max-width: 500px) {
	h1 {
		font-size: 25px;
	}	
}
.pages_faq {

	ol li {
		padding: 15px;
		.answer p {
			color: gray;
			padding: 5px;
		}
	}
	.question {
		margin-bottom: 10px;
	}
}
.pages_mission #mission-driven-section {
	text-align: left;
}
.social-media-list a {
	font-size: 18px;
	padding: 5px;
}
#tagline {

}
.this-page a {
	color: $green !important;
}
#welcome-area {
	margin-top: 5vh;
}
.white {
	color: rgba(225,225,225,1.0) !important;
}



