<!-- the above was copied from agile crm form builder -->

<!-- <link href="https://d1gwclp1pmzk26.cloudfront.net/agile/forms/v1/agile-form-min.css" rel="stylesheet"> -->
<form id="agile-form" action="https://consciousoffice.agilecrm.com/formsubmit" method="GET">
<fieldset>
<!-- Form Name -->
<!-- <legend class="agile-hide-formname">Sign Up As A Client</legend> -->
<div style="display: none; height: 0px; width: 0px;">
	<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Sign Up As A Client">
	<input type="hidden" id="_agile_domain" name="_agile_domain" value="consciousoffice">
	<input type="hidden" id="_agile_api" name="_agile_api" value="uhgtusikrg5pb2segs9jacdklv">
	<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="http://www.consciousoffice.io/new_lead_confirmation_agile">
	<input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
	<input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="Thanks for sharing your knowledge. You're great.  We may or may not email you with follow up questions.">
	<input type="hidden" id="_agile_form_id_tags" name="tags" value="new-lead-agile-form">
	<input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5647591547076608">
</div>
<!-- Text input-->
<div class="row">
	<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
		<section class="field-input-area">
			<div class="required-control">
			  <!-- <label  for="agilefield-1">Your Name<span class="agile-span-asterisk"> *</span></label> -->
			  <div>
				<input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="Your Name" required="">
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			<!-- Text input-->
			<div class="required-control">
			  <!-- <label for="agilefield-4">Company<span class="agile-span-asterisk"> *</span></label> -->
			  <div>
				<input maxlength="250" id="agilefield-4" name="company" type="text" placeholder="Your Company Name" required="">
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			<!-- Text input-->
			<div class="required-control">
			  <!-- <label  for="agilefield-3">Your Email Address<span class="agile-span-asterisk"> *</span></label> -->
			  <div>
				<input maxlength="250" id="agilefield-3" name="email" type="email" placeholder="Your Email Address" required="">
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			<!-- Text input-->
			<div>
			  <!-- <label  for="agilefield-2">Your Phone Number</label> -->
			  <div>
				<input maxlength="250" id="agilefield-2" name="phone" type="text" placeholder="Your Phone Number">
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			<!-- Text input-->
			<div>
			  <!-- <label  for="agilefield-5">Office size</label> -->
			  <div>
				<input maxlength="250" id="agilefield-5" name="note" type="text" placeholder="How many employees work in-office?">
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			<!-- Text input-->
			<div>
			  <!-- <label  for="agilefield-8">How did you find us?</label> -->
			  <div>
				<input maxlength="250" id="agilefield-8" name="note" type="text" placeholder="How did you find us?">
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			<!-- Textarea -->
			<div>
			  <!-- <label  for="agilefield-9">Sustainability Goals</label> -->
			  <div>
			    <textarea maxlength="250" id="agilefield-9" name="note" placeholder="What are your sustainability goals?"></textarea>
			  </div>
			  <div class="agile-custom-clear"></div>
			</div>
			 <!--recaptcha aglignment-->
			 <div>
			 	<label >
			 	</label>
			 	<div class="make-centered">
			 		<div class='g-recaptcha' data-sitekey='6LdhGTQUAAAAADYr0pIjGg4AyhY3NaRHnkitRUt4' data-callback='agileGCaptchaOnSuccess'>
			 		</div>
			 	</div>
			 </div>
			<br>
			<p>Thanks for your answers.	<br>Let's do this.
			</p>
			<!-- Button -->
			<div class="text-center action-area">
			  <!-- <label >&nbsp;</label> -->
			  <div>
			    <button class="btn btn-success btn-lg" type="submit">Become a Client</button>
			    <br>
			    <span id="agile-error-msg"></span>
			  </div>
			</div>
			</fieldset>
			</form>
			<script id="gRecaptchaSrc" src='https://www.google.com/recaptcha/api.js'></script>
			<script type="text/javascript">
				(function(a){var b=a.onload,p=true;isCaptcha=true;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};var formLen=document.forms.length;for(i=0;i<formLen;i++){if(document.forms.item(i).getAttribute("id")== "agile-form"){a.document.forms.item(i).onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v5(this)}catch(b){this.submit()}}}}})(window);
			</script>
		</section><!-- end .form-input-area -->
	</div><!-- end .col -->
</div><!-- end .row -->		
<br><br><br>
