<!-- the above was copied from agile crm form builder -->


<link href="https://d1gwclp1pmzk26.cloudfront.net/agile/forms/v1/agile-form-min.css" rel="stylesheet">
<form class="form-view agile-form-transparent theme2" id="agile-form" action="https://consciousoffice.agilecrm.com/formsubmit" style="max-width:450px;" method="GET">
<fieldset>

<!-- Form Name -->
<legend>Join our Email Community</legend>
<p class="agile-form-description">Share and Request Resources From Other Entrepreneurs</p>
<div style="display: none; height: 0px; width: 0px;">
<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Join our Email Community">
<input type="hidden" id="_agile_domain" name="_agile_domain" value="consciousoffice">
<input type="hidden" id="_agile_api" name="_agile_api" value="uhgtusikrg5pb2segs9jacdklv">
<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="http://consciousoffice.io/">
<input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
<input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="Thanks. You'll receive a welcome email once we launch this community.">
<input type="hidden" id="_agile_form_id_tags" name="tags" value="networking-group-list">

     <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5717495361044480">
</div>
<!-- Text input-->
<div class="agile-group required-control">
  <label class="agile-label" for="agilefield-1">First Name<span class="agile-span-asterisk"> *</span></label>
  <div class="agile-field-xlarge agile-field">
	<input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="Susty" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div class="agile-group required-control">
  <label class="agile-label" for="agilefield-2">Last Name<span class="agile-span-asterisk"> *</span></label>
  <div class="agile-field-xlarge agile-field">
	<input maxlength="250" id="agilefield-2" name="last_name" type="text" placeholder="Human" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div class="agile-group required-control">
  <label class="agile-label" for="agilefield-3">Your Email<span class="agile-span-asterisk"> *</span></label>
  <div class="agile-field-xlarge agile-field">
	<input maxlength="250" id="agilefield-3" name="email" type="email" placeholder="Work Email" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
 <!--recaptcha aglignment--><div class="agile-group"><label class="agile-label"></label><div class="agile-field-xlarge agile-field"><div class='g-recaptcha' style="transform:scale(0.91);-webkit-transform:scale(0.91);transform-origin:0 0;-webkit-transform-origin:0 0; width='304px';" data-sitekey='6LdhGTQUAAAAADYr0pIjGg4AyhY3NaRHnkitRUt4' data-callback='agileGCaptchaOnSuccess'></div></div></div>
<!-- Button -->
<div class="agile-group">
  <label class="agile-label">&nbsp;</label>
  <div class="agile-field agile-button-field">
    <button type="submit" class="agile-button">Join Email Community</button>
    <br><span id="agile-error-msg"></span>
  </div>
</div>

</fieldset>
</form><script id="gRecaptchaSrc" src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
(function(a){var b=a.onload,p=true;isCaptcha=true;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};var formLen=document.forms.length;for(i=0;i<formLen;i++){if(document.forms.item(i).getAttribute("id")== "agile-form"){a.document.forms.item(i).onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v5(this)}catch(b){this.submit()}}}}})(window);
</script>
