<footer>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li>insert main page links</li>
					<li>insert main page links</li>
					<li>insert main page links</li>
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li>insert logo</li>
					<!-- insert social media section -->
					<%= render 'layouts/social' %>
					<li>insert social icon 1</li>
					<li>insert social icon 2</li>
					<li>insert newsletter</li>
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li>insert other page links</li>
					<li>insert terms page links</li>
					<li>insert privacy page links</li>
				</ul>
			</p>
		</div><!-- end .col -->				
	</div><!-- end .row -->
</footer>