<footer>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li>Conscious Supplies</li>
					<li>Careers&nbsp;&amp;&nbsp;Opportunities</li>
					<!-- <li>Conscious Design</li>
					<li>Conscious Thinking</li>
					<li>Conscious Community</li> -->
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li>insert logo</li>
					<!-- insert social media section -->
					<%= render 'layouts/social' %>
					<li>Twitter</li>
					<!-- <li>insert social icon 2</li> -->
					<!-- <li>insert newsletter</li> -->
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
			<ul>
					<!-- <li>Log in</li>
					<li>Create an Account</li> -->
					<li>FAQ</li>
					<!-- <li>Terms and Conditions</li>
					<li>Privacy Policy</li> -->
				</ul>
			</p>
		</div><!-- end .col -->				
	</div><!-- end .row -->
</footer>