<nav>
	<div id="nav-brand-area">
		<%= link_to root_path do %>
			<%= image_tag('co-logo-v5', alt: "Conscious Office", id: "nav-logo", class: "img-responsive") %>
			<p id="nav-brand-text">Conscious Office</p>
		<% end %>
	</div>
    <div id="hamburger-menu" class="hidden-md hidden-lg">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <div class="hidden">Menu</div>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div><!-- end #hamburger -->
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Opportunities", opportunities_path %></li>
		<br>
		<!-- <li><button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#exampleModal">Join Our Growing Email Community</button></li> -->
		<!-- Modal begin -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Join our Email Community</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">   
	        	<!-- agile crm form code start for joining community email list -->
				<div id="consciousoffice_5717495361044480" class="agile_crm_form_embed"><span style="display:none">Fill out my <a href="https://consciousoffice.agilecrm.com/forms/5717495361044480">online form</a></span></div>
				<!-- agile crm form code end for joining community email list -->
		      </div><!-- end modal body -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- end modal -->
	</ul>
</nav>