

What resource would you like to tell us about?

What's your name?

What's your email address?

Anything else we should know about you? 

---

<link href="https://d1gwclp1pmzk26.cloudfront.net/agile/forms/v1/agile-form-min.css" rel="stylesheet">
<form class="form-view agile-form-blck-transparent theme2" id="agile-form" action="https://consciousoffice.agilecrm.com/formsubmit" style="max-width:450px;" method="GET">
<fieldset>

<!-- Form Name -->
<legend class="agile-hide-formname">Sustainable Resource Submission</legend>
<p class="agile-form-description">Tell us about a resource that can help us build a sustainability ranking system</p>
<div style="display: none; height: 0px; width: 0px;">
<input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Sustainable Resource Submission">
<input type="hidden" id="_agile_domain" name="_agile_domain" value="consciousoffice">
<input type="hidden" id="_agile_api" name="_agile_api" value="uhgtusikrg5pb2segs9jacdklv">
<input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="http://www.consciousoffice.io/resource_received">
<input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
<input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="">
<input type="hidden" id="_agile_form_id_tags" name="tags" value="susty-resource-submission">

     <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5685057352105984">
</div>
<!-- Text input-->
<div class="agile-group required-control">
  <label class="agile-label" for="agilefield-3">Resource Name<span class="agile-span-asterisk"> *</span></label>
  <div class="agile-field-xlarge agile-field">
	<input maxlength="250" id="agilefield-3" name="ticket" type="text" placeholder="What resource would you like to tell us about?" class="agile-height-default" required="">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div class="agile-group">
  <label class="agile-label" for="agilefield-1">Enter Name</label>
  <div class="agile-field-xlarge agile-field">
	<input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="Enter your name" class="agile-height-default">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Text input-->
<div class="agile-group">
  <label class="agile-label" for="agilefield-2">Enter  Email</label>
  <div class="agile-field-xlarge agile-field">
	<input maxlength="250" id="agilefield-2" name="email" type="email" placeholder="Enter your email" class="agile-height-default">
  </div>
  <div class="agile-custom-clear"></div>
</div>
<!-- Textarea -->
<div class="agile-group">
  <label class="agile-label" for="agilefield-4">Anything else you'd like us to know?</label>
  <div class="agile-field-xlarge agile-field">
    <textarea maxlength="250" id="agilefield-4" name="note" placeholder="" class="agile-height-default"></textarea>
  </div>
  <div class="agile-custom-clear"></div>
</div>

<!-- Multiple Radios -->
<div class="agile-group agile-form-multiradios">
  <label class="agile-label" for="multiple_radios_1486467745519">Remove this field</label>
  <div class="agile-field agile-field-xlarge agile-height-default">
  <div>
    <label for="multiple_radios_1486467745519-0" class="i-checks">
      <input type="radio" name="note" id="multiple_radios_1486467745519-0" value="Option 1" checked="checked"><i></i>
      Option 1
    </label></div>
  <div>
    <label for="multiple_radios_1486467745519-1" class="i-checks">
      <input type="radio" name="note" id="multiple_radios_1486467745519-1" value="Option 2"><i></i>
      Option 2
    </label></div>
  </div>
</div>

<!--recaptcha aglignment-->
<!-- Button -->
<div class="agile-group">
  <label class="agile-label">&nbsp;</label>
  <div class="agile-field agile-button-field">
    <button type="submit" class="agile-button">Tell Us About It</button>
    <br><span id="agile-error-msg"></span>
  </div>
</div>

</fieldset>
</form>
<script type="text/javascript">
(function(a){var b=a.onload,p=false;isCaptcha=false;if(p){a.onload="function"!=typeof b?function(){try{_agile_load_form_fields()}catch(a){}}:function(){b();try{_agile_load_form_fields()}catch(a){}}};var formLen=document.forms.length;for(i=0;i<formLen;i++){if(document.forms.item(i).getAttribute("id")== "agile-form"){a.document.forms.item(i).onsubmit=function(a){a.preventDefault();try{_agile_synch_form_v5(this)}catch(b){this.submit()}}}}})(window);
</script>
