<li class="social-media-list">
	<!-- LinkedIn -->
	<%= link_to "https://www.linkedin.com/company/11417387/", target: "none" do %>
		<i class="fa fa-linkedin" aria-hidden="true"></i>
	<% end %>
	<!-- twitter -->
	<%= link_to "https://twitter.com/consciousoffice", target: "none" do %>
		<i class="fa fa-twitter" aria-hidden="true"></i>
	<% end %>
	<!-- <li>Facebook</li> -->
	<%= link_to "https://www.facebook.com/Conscious-Office-Inc-1947012782284172/", target: "none" do %>
		<i class="fa fa-facebook" aria-hidden="true"></i>
	<% end %>
</li><!-- end social -->